public-hoist-pattern[]=*metro*
public-hoist-pattern[]=@expo/metro-runtime
public-hoist-pattern[]=@babel/runtime
public-hoist-pattern[]=@react-native/gradle-plugin
public-hoist-pattern[]=@react-native-community/cli-platform-android
